name: CD-develop

on:
  push:
    branches: [ "dev" ]

jobs:
  deploy-ci-develop:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACTION_TOKEN }}
          submodules: true
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew build -x test
        shell: bash

      - name: Docker build Setting
        uses: docker/setup-buildx-action@v2.9.1

      - name: Docker hub Login
        uses: docker/login-action@v2.2.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESSTOKEN }}

      - name: Docker image Build and Push
        run: |
          docker build --platform linux/amd64 -t websoso/websoso-image .
          docker push websoso/websoso-image

  deploy-cd-develop:
    needs: deploy-ci-develop
    runs-on: ubuntu-22.04

    steps:
      - name: Run Docker container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEVELOP_SERVER_IP }}
          username: ${{ secrets.DEVELOP_SERVER_USER }}
          key: ${{ secrets.DEVELOP_SERVER_KEY }}
          script: |
            cd ~
            ./deploy.sh
