# workflow 이름: CI-develop
name: CI-develop

# trigger: dev 브랜치에 PR 발생할 때
on:
  pull_request:
    branches: [ "dev" ]

# workflow의 세부 작업 단위 job 정의
jobs:
  build-develop:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACTION_TOKEN }}
          submodules: true
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew build -Dspring.profiles.active=dev
        shell: bash